core
fonts

user/colors/fall.lua
user/colors/summer.lua

plugins/autocomplete.lua
plugins/autoreload.lua
plugins/language_c.lua
plugins/language_css.lua
plugins/language_js.lua
plugins/language_lua.lua
plugins/language_md.lua
plugins/language_python.lua
plugins/language_xml.lua
plugins/macro.lua
plugins/projectsearch.lua
plugins/reflow.lua
plugins/treeview.lua
plugins/trimwhitespace.lua
plugins/quote.lua
plugins/tabularize.lua
